* {
    box-sizing: border-box;
}
:root {
    --primary: #9DAAF2;
    --secondary: #1A2238;
    --tertiary: #FF6A3D;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}


.begin-quiz {
    display: flex;
    justify-content: center;
    align-items: center;
}

.begin header {
    font-size: 30px;
    font-weight: 700;
}
.begin p {
    font-size: 25px;
}



#start-quiz{
    background-color: var(--secondary);
    color: var(--primary);
    outline: none;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 1000;
    cursor: pointer;

}
.quiz-section, .results-section{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   
}
.questions {
    font-size: 30px;
    

}






.ans-btn {
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px 10px;
    background-color: var(--secondary);
    color: var(--primary);
    padding: 10px 30px;
    display: flex;
    
}


.right-wrong h3 {
    border-top: 3px solid black;
}

.timer-sec {
    position: relative;
    left: 100%;
    
}

.questions-cont {
    display: none;

}

#results-cont h3 {
    font-size: 30px;
}

.hide {
    display: none;
}

